/*PANTALLA ESCRITORIO GRANDE */

@media screen and (max-width: 1440px) {
    .menu{
        width: 1440px;
    }
    nav ul il a{
        padding: 10px;
    }

    body{
       background-color: rgb(238, 232, 232);

    }

    .seccion-principal{
        width: 1440px;
        padding: 10px;
        display: block !important;
       
    }

    
 /*RESPONSIVE SECCION LUGARES  */


 .seccion-articulos, .titulo-servicios, .contenedor, .articulos-servicios, .imagenes-articulos, .image-art, .subtitulos-servicios, .parrafo{
    justify-content: space-between;
    width: 330px;
    background-color: rgb(238, 232, 232);
    font-size: 20px;
    
 }

  /*RESPONSIVE SECCION BENEFICIOS */

  .seccion-productos, .contenedor2, .titulo-producto, .contenedor-producto, .articulo-prducto, .img-producto, .subtitulo-img, .parrafo2{
     width: 330px;
     margin: 20px;
     background-color: rgb(238, 232, 232);
     font-size: 20px;
          
  }

  /*RESPONSIVE SECCION FORMULARIO*/

  .seccion-contacto, .titulo-contacto, .form, .container-contacto, .caja-formuario{
    margin: 5px;
    width: 1440px;
    border-radius: 10px;
    text-align: center;
    
  }
   .caja-formuario{
       width: 500px;
   }

   .container-comentario{
       display: block;
       justify-content: center;
       width: 1440px;
   }
   
   footer{
    width: 1400px;
}

}

/*PANTALLA PC O NOTEBOOK */

@media screen and (max-width: 970px) {
    .menu{
        width: 970px;
    }
    nav ul il a{
        padding: 10px;
    }

    .cabecera{
    width: 970px;
    }
    
    body{
       background-color: rgb(238, 232, 232);

    }

    .seccion-principal{
        width: 970px;
        padding: 10px;
        display: block !important;
       
    }

    

    
 /*RESPONSIVE SECCION LUGARES  */


 .seccion-articulos, .titulo-servicios, .contenedor, .articulos-servicios, .imagenes-articulos, .image-art, .subtitulos-servicios, .parrafo{
    justify-content: space-between;
    width: 230px;
    background-color: rgb(238, 232, 232);
    font-size: 20px;
    
 }

  /*RESPONSIVE SECCION BENEFICIOS */

  .seccion-productos, .contenedor2, .titulo-producto, .contenedor-producto, .articulo-prducto, .img-producto, .subtitulo-img, .parrafo2{
     width: 230px;
     margin: 20px;
     padding: 5px;
     background-color: rgb(238, 232, 232);
     font-size: 20px;
          
  }

  /*RESPONSIVE SECCION FORMULARIO*/

  .seccion-contacto, .titulo-contacto, .form, .container-contacto, .caja-formuario{
    margin: 5px;
    width: 970px;
    border-radius: 10px;
    text-align: center;
    
  }
   .caja-formuario{
       width: 500px;
   }

   .container-comentario{
       display: block;
       justify-content: center;
       width: 970px;
   }
   
   footer{
    width: 970px;
}

}

/*PANTALLA TABLET */

@media screen and (max-width: 767px) {


    nav il a{
        display: block !important;
        justify-content: center;
        
    }
    .cabecera{
        width: 767px;
        
    }


    .seccion-principal, .titulo-principal, .titutlo-descripcion, .subtitulo-descripcion2, .btn-titulo {
        display: block;
        justify-content: center;
        text-align: center;
        width: 767px;
        font-size: 20px;
        
    }
    .btn-titulo {
        width: 100px;
        display: inline-block;
        text-align: center;
        justify-content: center;
    }

 /*RESPONSIVE SECCION LUGARES  */


 .seccion-articulos, .titulo-servicios, .contenedor, .articulos-servicios, .imagenes-articulos, .image-art, .subtitulos-servicios, .parrafo{
    display: flexbox;
    width: 180px;
    background-color: rgb(238, 232, 232);
    font-size: 16px;

 }

  /*RESPONSIVE SECCION BENEFICIOS */

  .seccion-productos, .contenedor2, .titulo-producto, .contenedor-producto, .articulo-prducto, .img-producto, .subtitulo-img, .parrafo2{
     width: 200px;
     margin: 10px;
     background-color: rgb(238, 232, 232);
     font-size: 17px;

  }

  /*RESPONSIVE SECCION FORMULARIO*/

  .seccion-contacto, .titulo-contacto, .form, .container-contacto, .caja-formuario{
    margin: 5px;
    width: 767px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    
  }
   .caja-formuario{
       width: 500px;
   }

   .container-comentario{
       display: block;
       justify-content: center;
       width: 720px;
   }

   footer{
    width: 720px;
}

}

/*PANTALLA SMARTPHONE */

@media screen and (max-width: 600px) {
    nav, nav ul{
        padding:0;
    }

    nav ul il {
        text-align: center;
        width: 100%;
    }
    nav il a{
        display: block !important;
        
    }

    .menu{
        width: 600px;
        
    }

    body{
       background-color: rgb(238, 232, 232);

    }

    .cabecera{
        width: 600px ;

    }

    .seccion-principal, .titulo-principal, .titutlo-descripcion, .subtitulo-descripcion2{
        width: 500px;
        padding: 10px;
        display: block !important;
    }
    
    .btn-titulo{
        width: 200px;
        margin: 20px;
    }
    
 /*RESPONSIVE SECCION LUGARES  */


 .seccion-articulos, .titulo-servicios, .contenedor, .articulos-servicios, .imagenes-articulos, .image-art, .subtitulos-servicios, .parrafo{
    display: flexbox;
    flex-direction: column;
    background-color: rgb(238, 232, 232);
    font-size: 20px;

    
 }

  /*RESPONSIVE SECCION BENEFICIOS */

  .seccion-productos, .contenedor2, .titulo-producto, .contenedor-producto, .articulo-prducto, .img-producto, .subtitulo-img, .parrafo2{
    display: inline-block;
    background-color: rgb(238, 232, 232);
    font-size: 20px;
          
  }

  /*RESPONSIVE SECCION FORMULARIO*/

  .seccion-contacto, .titulo-contacto, .form, .container-contacto, .caja-formuario{
    margin: 5px;
    font-size: 15px;
    width: 570px;
    border-radius: 10px;
    text-align: center;

    
  }
   .caja-formuario{
       width: 300px;
   }

   .container-comentario{
       display: block;
       justify-content: center;
       width: 70px;
   }
   .caja-comentario{
       width: 500px;
    
   }

   footer{
    width: 500px;
}

}

/*PANTALLA SMARTPHONE PEQUEÑA */

@media screen and (max-width: 400px) {
    nav, nav ul{
        padding:0;
    }

    nav ul il {
        text-align: center;
        width: 100%;
    }
    nav il a{
        display: block !important;
    }

    .menu{
        width: 470px;
    }
    nav ul il a{
        padding: 10px;
    }

    .cabecera{
        width: 400px ;
    }

    body{
       background-color: rgb(238, 232, 232);

    }

    .seccion-principal{
        width: 400px;
        padding: 5px;
        display: block !important;
       
    }
    
 /*RESPONSIVE SECCION LUGARES  */


 .seccion-articulos, .titulo-servicios, .contenedor, .articulos-servicios, .imagenes-articulos, .image-art, .subtitulos-servicios, .parrafo{
    justify-content: space-between;
    width: 120px;
    background-color: rgb(238, 232, 232);
    font-size: 15px;
    
 }

  /*RESPONSIVE SECCION BENEFICIOS */

  .seccion-productos, .contenedor2, .titulo-producto, .contenedor-producto, .articulo-prducto, .img-producto, .subtitulo-img, .parrafo2{
     width: 120px;
     margin: 0.5px;
     background-color: rgb(238, 232, 232);
     font-size: 17px;
          
  }

  /*RESPONSIVE SECCION FORMULARIO*/

  .seccion-contacto, .titulo-contacto, .form, .container-contacto, .caja-formuario{
    margin: 5px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    
  }
   .caja-formuario{
       width: 280px;
   }

   .container-comentario{
       display: block;
       justify-content: center;
       width: 10px;
   }

   footer{
    width: 400px;
}

    }